---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <span class="post-meta">
      <span class="post-date"><i class="fa fa-calendar"></i> {{ post.date | date_to_string }}</span>
    </span>

    <h2 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>


    {% if post.content contains '<!--more-->' %}

      {{ post.content | split:'<!--more-->' | first }}
      <p class="continue-reading">
        <a href="{{ post.url }}"><span class="text">continue </span><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
        {% if site.reading_time %}
          <span class="post-reading-time">{% include reading-time.html content=post.content %}</span>
        {% endif %}
      </p>
    {% else %}

      {{ post.content }}

    {% endif %}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

